:root {
  --modalBg:rgba(255,255,255, 0.5);
}
[data-bs-theme="dark"] {
  --modalBg:rgba(0,0,0, 0.5);
}
.ucg_music {
  padding-top: 1em;
}
.ucg_music .page_playlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ucg_music .page_playlist ul li {
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
  list-style: none;
}
.ucg_music .page_playlist .title {
  cursor: pointer;
  display: block;

}
.ucg_music .player_modal {
  display: none;
}
.ucg_music .player_modal.open {
  position: fixed;
  top: 0em;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 989;
  overflow: auto;
  display: block;
}
.ucg_music .active {
  font-weight: bold;
}
.ucg_music .title {
  cursor: pointer;
}
.ucg_music .mediaWrapper {

  padding: 1em;
  border-radius: 1em;
  position: relative;
}
.ucg_music .progress {
  min-height: 15px;
  background-color: var(--bg-light);
}
.ucg_music .progress-bar {
  height: 15px;
}

.ucg_music .sr-only {
  display: block;
  position: absolute;
  top:-999em;
  visibility: hidden;
}
.ucg_music .controls_wrapper .btn {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  padding: 0;
  text-align: center;

}
.ucg_music .close_modal {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0!important;
  text-align: center;
  line-height: 40px;
  z-index: 89;

}
.ucg_music .btn svg {
  width: 35px;
  max-height: 35px;
}
.ucg_music .btn.small_icon svg {
  width: 15x;
  max-height: 15px;

}
.ucg_music .reverse_icon svg {
  transform: rotate(180deg);
}
.ucg_music .btn.small_icon {
  padding: 5px;
  width: 44px;
  height: 44px;
}
.ucg_music .badge.active {
  background-color: #095890 !important;
}
.ucg_music .item_ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  display: block;
}
.ucg_music .item_ul li {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px dotted #555;
  margin-bottom: .5em;
  padding-bottom: .5em;

}
.ucg_music .media_meta .song_meta {

  max-height: 30px;
  overflow: auto;
}
.ucg_music .song_meta a, .ucg_music .controls_wrapper a {
  color: var(--body-text);
  font-weight: bold;
}

.ucg_music .player_wrapper {
  height: 350px;
}
.ucg_music .album_art img {
  box-shadow: 0 0 3px #333;
}
.ucg_music .inner_wrapper .inner_modal {
  margin: auto;
  width: 90%;
  max-width: 700px;
  border-radius: 1em;
  box-shadow: 0 0 26px -8px #333;
  padding: 1em;
  background-color:var(--modalBg);
  backdrop-filter: blur(5px);
  /*height: calc(100vh - 3em);*/
  margin-top: 4.5em;
}

.ucg_music .controls_wrapper {
  justify-content: center;
  margin-bottom: 1em;
  align-items: center;
}

.ucg_music  iframe {
  width: 100%;
  height: 300px;
}
.ucg_music .bottom_scroll {
  height: 100px;
  overflow: auto;
}
.ucg_music .bottom_scroll h3 {
  font-size: 1em;
  margin: 0;
  margin-bottom: .5em;
}
.ucg_music .bottom_scroll li span {
  display: inline-block;
}